html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  background-color: tomato;
}
#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}